* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  background: lightgrey;
}

header {
  text-align: center;
}
.container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dog {
  width: 415px;
  height: 380px;
  margin: 10px;
}
